<h1>
liste des produits informatiques
</h1>
 
<ul class="list-group">
    <ng-container *ngFor="let t of materiels ;index as indice" >
        <li [ngClass]="{'list-group-item':true,
        'list-group-item list-group-item-info':t.etat=='endommagé'}">
        <p >{{t.nom |uppercase}}</p> 
        <p>
        <img [src]="t.image"> reference :{{t.reference}}
        <span [ngClass]="{'badge':true,
        'rounded-pill':true,
         'bg-dark ':t.prix>200,
         'fas fa-coins':t.prix>200,
        ' bg-warning ':t.prix<=200}"> 
            Prix : {{t.prix| currency :'TND':'symbol':'3.3':'fr'}}</span>
            Etat {{t.etat}}
        <button class="btn btn-primary" *ngIf="t.etat=='endommagé'" (click)="onModifie(indice)">  réparer </button></p>
    </li>
</ng-container>
     

</ul>

